html, body { height:100%; width: 100%; margin:0; padding:0; }
div {
	position: fixed;
}

.cButton {
	box-sizing: border-box;
	border: 1px solid white;
	width: 50%;
}

.cButton:hover {
	border:3px solid black;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	text-align: center;
}

#congrats {
	display: none;
}
.content {
	font-family: Sans-Serif;
    position: relative;
    background-color: #7294c1;
	color: white;
    margin: 15% auto;
    padding: 50;
    border: 1px solid #888;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	padding-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#retry {
	background-color: #9dccf2;
	color: white;
    padding: 15px 32px;
    text-align: center;
	font-size: 20px;
}